[submodule "pythondata-cpu-blackparrot"]
	path = LiteX/pythondata-cpu-blackparrot
	url = https://github.com/litex-hub/pythondata-cpu-blackparrot.git
[submodule "pythondata-cpu-coreblocks"]
	path = LiteX/pythondata-cpu-coreblocks
	url = https://github.com/litex-hub/pythondata-cpu-coreblocks.git
[submodule "pythondata-cpu-cv32e40p"]
	path = LiteX/pythondata-cpu-cv32e40p
	url = https://github.com/litex-hub/pythondata-cpu-cv32e40p.git
[submodule "pythondata-cpu-cv32e41p"]
	path = LiteX/pythondata-cpu-cv32e41p
	url = https://github.com/litex-hub/pythondata-cpu-cv32e41p.git
[submodule "pythondata-cpu-cva5"]
	path = LiteX/pythondata-cpu-cva5
	url = https://github.com/litex-hub/pythondata-cpu-cva5.git
[submodule "pythondata-cpu-cva6"]
	path = LiteX/pythondata-cpu-cva6
	url = https://github.com/litex-hub/pythondata-cpu-cva6.git
[submodule "pythondata-cpu-ibex"]
	path = LiteX/pythondata-cpu-ibex
	url = https://github.com/litex-hub/pythondata-cpu-ibex.git
[submodule "pythondata-cpu-lm32"]
	path = LiteX/pythondata-cpu-lm32
	url = https://github.com/litex-hub/pythondata-cpu-lm32.git
[submodule "pythondata-cpu-marocchino"]
	path = LiteX/pythondata-cpu-marocchino
	url = https://github.com/litex-hub/pythondata-cpu-marocchino.git
[submodule "pythondata-cpu-microwatt"]
	path = LiteX/pythondata-cpu-microwatt
	url = https://github.com/litex-hub/pythondata-cpu-microwatt.git
[submodule "pythondata-cpu-minerva"]
	path = LiteX/pythondata-cpu-minerva
	url = https://github.com/litex-hub/pythondata-cpu-minerva.git
[submodule "pythondata-cpu-mor1kx"]
	path = LiteX/pythondata-cpu-mor1kx
	url = https://github.com/litex-hub/pythondata-cpu-mor1kx.git
[submodule "pythondata-cpu-naxriscv"]
	path = LiteX/pythondata-cpu-naxriscv
	url = https://github.com/litex-hub/pythondata-cpu-naxriscv.git
[submodule "pythondata-cpu-openc906"]
	path = LiteX/pythondata-cpu-openc906
	url = https://github.com/litex-hub/pythondata-cpu-openc906.git
[submodule "pythondata-cpu-picorv32"]
	path = LiteX/pythondata-cpu-picorv32
	url = https://github.com/litex-hub/pythondata-cpu-picorv32.git
[submodule "pythondata-cpu-rocket"]
	path = LiteX/pythondata-cpu-rocket
	url = https://github.com/litex-hub/pythondata-cpu-rocket.git
[submodule "pythondata-cpu-sentinel"]
	path = LiteX/pythondata-cpu-sentinel
	url = https://github.com/litex-hub/pythondata-cpu-sentinel.git
[submodule "pythondata-cpu-serv"]
	path = LiteX/pythondata-cpu-serv
	url = https://github.com/litex-hub/pythondata-cpu-serv.git
[submodule "pythondata-cpu-vexiiriscv"]
	path = LiteX/pythondata-cpu-vexiiriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexiiriscv.git
[submodule "pythondata-cpu-vexriscv"]
	path = LiteX/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
[submodule "pythondata-cpu-vexriscv-smp"]
	path = LiteX/pythondata-cpu-vexriscv-smp
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv-smp.git
[submodule "pythondata-misc-tapcfg"]
	path = LiteX/pythondata-misc-tapcfg
	url = https://github.com/litex-hub/pythondata-misc-tapcfg.git
[submodule "pythondata-misc-usb_ohci"]
	path = LiteX/pythondata-misc-usb_ohci
	url = https://github.com/litex-hub/pythondata-misc-usb_ohci.git
[submodule "pythondata-software-compiler_rt"]
	path = LiteX/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "pythondata-software-picolibc"]
	path = LiteX/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc.git
[submodule "litedram"]
	path = LiteX/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "liteeth"]
	path = LiteX/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "litei2c"]
	path = LiteX/litei2c
	url = https://github.com/litex-hub/litei2c.git
[submodule "liteiclink"]
	path = LiteX/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "litejesd204b"]
	path = LiteX/litejesd204b
	url = https://github.com/enjoy-digital/litejesd204b.git
[submodule "litepcie"]
	path = LiteX/litepcie
	url = https://github.com/enjoy-digital/litepcie.git
[submodule "litesata"]
	path = LiteX/litesata
	url = https://github.com/enjoy-digital/litesata.git
[submodule "litescope"]
	path = LiteX/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "litesdcard"]
	path = LiteX/litesdcard
	url = https://github.com/enjoy-digital/litesdcard.git
[submodule "litespi"]
	path = LiteX/litespi
	url = https://github.com/litex-hub/litespi.git
[submodule "litex"]
	path = LiteX/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "litex-boards"]
	path = LiteX/litex-boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "migen"]
	path = LiteX/migen
	url = https://git.m-labs.hk/M-Labs/migen.git
[submodule "valentyusb"]
	path = LiteX/valentyusb
	url = https://github.com/litex-hub/valentyusb.git
